<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>My Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/styles/main.css" rel="stylesheet" type="text/css" />
    <link href="images/PFT Favicon.svg" rel="icon" type="image/x-icon" />
  </head>

  <div>
    <table border="1" style="border-collapse: collapse; text-align: center">
      <tr>
        <th></th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
        <th>Sunday</th>
      </tr>
      <tr>
        <th>Greg</th>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
        <td>7</td>
      </tr>
      <tr>
        <th>Tania</th>
        <td>8</td>
        <td>9</td>
        <td>10</td>
        <td>11</td>
        <td>12</td>
        <td>x</td>
        <td>k</td>
      </tr>
      <tr>
        <th>Nick</th>
        <td>y</td>
        <td>a</td>
        <td>b</td>
        <td>e</td>
        <td>f</td>
        <td>i</td>
        <td>l</td>
      </tr>
      <tr>
        <th>Jacquie</th>
        <td>z</td>
        <td>c</td>
        <td>d</td>
        <td>g</td>
        <td>h</td>
        <td>j</td>
        <td>m</td>
      </tr>
    </table>
  </div>
</html>
