/* Global reset and base styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
  overflow-y: auto; /* enable vertical scroll */
}

@font-face {
  font-family: 'Twister';
  src: url('../fonts/Twister.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

p {
  margin-bottom: 1rem;
  font-family: sans-serif;
  margin-top: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}
